<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="../back/headers::head">
</head>
<body>
	<div class="wrapper">
		<!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
		<div th:replace="../back/headers::.main-header"></div>
		<div th:replace="../back/headers::.sidebar"></div>
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Avatars</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Base</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Avatars</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Sizing</h4>
									<p class="card-category">Here is a subtitle for this table</p>
								</div>
								<div class="card-body">
									<p class="demo">
										<div class="avatar avatar-xxl">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>

										<div class="avatar avatar-xl">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>

										<div class="avatar avatar-lg">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>

										<div class="avatar">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>

										<div class="avatar avatar-sm">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>

										<div class="avatar avatar-xs">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Status Indicator</h4>
									<p class="card-category">Here is a subtitle for this table</p>
								</div>
								<div class="card-body">
									<p class="demo">
										<div class="avatar avatar-online">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>

										<div class="avatar avatar-offline">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>

										<div class="avatar avatar-away">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Shape</h4>
									<p class="card-category">Here is a subtitle for this table</p>
								</div>
								<div class="card-body">
									<p class="demo">
										<div class="avatar">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded">
										</div>

										<div class="avatar">
											<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
										</div>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Group</h4>
									<p class="card-category">Here is a subtitle for this table</p>
								</div>
								<div class="card-body">
									<p class="demo">
										<div class="avatar-group">
											<div class="avatar">
												<img src="../../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle border border-white">
											</div>
											<div class="avatar">
												<img src="../../assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle border border-white">
											</div>
											<div class="avatar">
												<img src="../../assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle border border-white">
											</div>
											<div class="avatar">
												<span class="avatar-title rounded-circle border border-white">CF</span>
											</div>
										</div>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- Custom template | don't include it in your project! -->
	<div class="custom-template">
				<div class="title">Settings</div>
				<div class="custom-content">
					<div class="switcher">
						<div class="switch-block">
							<h4>Topbar</h4>
							<div class="btnSwitch">
								<button type="button" class="changeMainHeaderColor" data-color="blue"></button>
								<button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
								<button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
								<button type="button" class="changeMainHeaderColor" data-color="green"></button>
								<button type="button" class="changeMainHeaderColor" data-color="orange"></button>
								<button type="button" class="changeMainHeaderColor" data-color="red"></button>
							</div>
						</div>
						<div class="switch-block">
							<h4>Background</h4>
							<div class="btnSwitch">
								<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
								<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
								<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="custom-toggle">
					<i class="flaticon-settings"></i>
				</div>
			</div>
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="../../assets/js/core/popper.min.js"></script>
	<script src="../../assets/js/core/bootstrap.min.js"></script>
	<!-- jQuery UI -->
	<script src="../../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<!-- Bootstrap Toggle -->
	<script src="../../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<!-- jQuery Scrollbar -->
	<script src="../../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<!-- Azzara JS -->
	<script src="../../assets/js/ready.min.js"></script>
	<!-- Azzara DEMO methods, don't include it in your project! -->
	<script src="../../assets/js/setting-demo.js"></script>
</body>
</html>