<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="../back/headers::head">
</head>
<body>
	<div class="wrapper">
		<!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
		<div th:replace="../back/headers::.main-header"></div>
		<div th:replace="../back/headers::.sidebar"></div>
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Lists</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Base</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Lists</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">List Group</h4>
									<p class="card-category">Here is a subtitle for this table</p>
								</div>
								<div class="card-body">
									<ul class="list-group list-group-bordered">
										<li class="list-group-item active">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Porta ac consectetur ac</li>
										<li class="list-group-item d-flex justify-content-between align-items-center">
											Morbi leo risus
											<span class="badge badge-primary badge-pill">1</span>
										</li>
									</ul>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h4 class="card-title">List Group Large</h4>
									<p class="card-category">Here is a subtitle for this table</p>
								</div>
								<div class="card-body">
									<ul class="list-group list-group-lg list-group-bordered">
										<li class="list-group-item active">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Porta ac consectetur ac</li>
										<li class="list-group-item">Vestibulum at eros</li>
									</ul>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h4 class="card-title">List.js</h4>
									<p class="card-category">
										Create searchable, sortable, and filterable lists and tables with the simple but powerful List.js plugin. Please read the <a target="_blank" href="http://listjs.com/">official plugin documentation</a> for a full list of options. The following options are available via the <code>data</code> attributes to initialize the plugin without any JavaScript:
									</p>
								</div>
								<div class="card-body">
									<div id="name-list" data-toggle="lists" data-lists-values='["name"]'>

										<input class="form-control search mb-2" type="search">

										<ul class="list-group list-group-bordered list">
											<li class="list-group-item">
												<span class="name">Casey Fyfe</span>
											</li>
											<li class="list-group-item">
												<span class="name">Jane Roe</span>
											</li>
											<li class="list-group-item">
												<span class="name">Casey Fyfe</span>
											</li>
											<li class="list-group-item">
												<span class="name">Jane Roe</span>
											</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- Custom template | don't include it in your project! -->
	<div class="custom-template">
				<div class="title">Settings</div>
				<div class="custom-content">
					<div class="switcher">
						<div class="switch-block">
							<h4>Topbar</h4>
							<div class="btnSwitch">
								<button type="button" class="changeMainHeaderColor" data-color="blue"></button>
								<button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
								<button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
								<button type="button" class="changeMainHeaderColor" data-color="green"></button>
								<button type="button" class="changeMainHeaderColor" data-color="orange"></button>
								<button type="button" class="changeMainHeaderColor" data-color="red"></button>
							</div>
						</div>
						<div class="switch-block">
							<h4>Background</h4>
							<div class="btnSwitch">
								<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
								<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
								<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="custom-toggle">
					<i class="flaticon-settings"></i>
				</div>
			</div>
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="../../assets/js/core/popper.min.js"></script>
	<script src="../../assets/js/core/bootstrap.min.js"></script>
	<!-- jQuery UI -->
	<script src="../../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<!-- Bootstrap Toggle -->
	<script src="../../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<!-- jQuery Scrollbar -->
	<script src="../../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<!-- List.js -->
	<script src="../../assets/js/plugin/list.js/list.min.js"></script>
	<!-- Azzara JS -->
	<script src="../../assets/js/ready.min.js"></script>
	<!-- Azzara DEMO methods, don't include it in your project! -->
	<script src="../../assets/js/setting-demo.js"></script>

	<script>
		var options = {
			valueNames: ['name']
		};
		var nameList = new List('name-list', options);
	</script>
</body>
</html>