<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="../back/headers::head">
</head>
<body>
	<div class="wrapper">
		<!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
		<div th:replace="../back/headers::.main-header"></div>
		<div th:replace="../back/headers::.sidebar"></div>
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Typography</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Base</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Typography</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Card Title</div>
									<div class="card-category">Card Category</div>
								</div>
								<div class="card-body">
									<table class="table table-typo">
										<tbody>
											<tr>
												<td>
													<p>Header 1</p>

												</td>
												<td><span class="h1">h1. Bootstrap heading</span></td>
											</tr>
											<tr>
												<td>
													<p>Header 2</p>

												</td>
												<td><span class="h2">h2. Bootstrap heading</span></td>
											</tr>
											<tr>
												<td>
													<p>Header 3</p>

												</td>
												<td><span class="h3">h3. Bootstrap heading</span></td>
											</tr>
											<tr>
												<td>
													<p>Header 4</p>

												</td>
												<td><span class="h4">h4. Bootstrap heading</span></td>
											</tr>
											<tr>
												<td>
													<p>Header 5</p>

												</td>
												<td><span class="h5">h5. Bootstrap heading</span></td>
											</tr>
											<tr>
												<td>
													<p>Header 5</p>

												</td>
												<td><span class="h6">h6. Bootstrap heading</span></td>
											</tr>
											<tr>
												<td>
													<p>Paragraph</p>

												</td>
												<td><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></td>
											</tr>
											<tr>
												<td>
													<p>Paragraph Lead</p>

												</td>
												<td><p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></td>
											</tr>
											<tr>
												<td>
													<p>Quote</p>

												</td>
												<td><blockquote>
													<p class="blockquote blockquote-primary">
														"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
														<br>
														<br>
														<small>
															- Noaa
														</small>
													</p>
												</blockquote></td>
											</tr>
											<tr>
												<td>
													<p>Primary Text</p>

												</td>
												<td><p class="text-primary">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p></td>
											</tr>
											<tr>
												<td>
													<p>Info Text</p>

												</td>
												<td><p class="text-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p></td>
											</tr>
											<tr>
												<td>
													<p>Success Text</p>

												</td>
												<td><p class="text-success">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p></td>
											</tr>
											<tr>
												<td>
													<p>Warning Text</p>

												</td>
												<td><p class="text-warning">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p></td>
											</tr>
											<tr>
												<td>
													<p>Danger Text</p>

												</td>
												<td><p class="text-danger">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p></td>
											</tr>
											<tr>
												<td>
													<p>Muted Text</p>

												</td>
												<td><p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="card-footer">
									<hr>
									Card Footer
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
				<div class="title">Settings</div>
				<div class="custom-content">
					<div class="switcher">
						<div class="switch-block">
							<h4>Topbar</h4>
							<div class="btnSwitch">
								<button type="button" class="changeMainHeaderColor" data-color="blue"></button>
								<button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
								<button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
								<button type="button" class="changeMainHeaderColor" data-color="green"></button>
								<button type="button" class="changeMainHeaderColor" data-color="orange"></button>
								<button type="button" class="changeMainHeaderColor" data-color="red"></button>
							</div>
						</div>
						<div class="switch-block">
							<h4>Background</h4>
							<div class="btnSwitch">
								<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
								<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
								<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="custom-toggle">
					<i class="flaticon-settings"></i>
				</div>
			</div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="../../assets/js/core/popper.min.js"></script>
	<script src="../../assets/js/core/bootstrap.min.js"></script>
	<!-- jQuery UI -->
	<script src="../../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<!-- Bootstrap Toggle -->
	<script src="../../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<!-- jQuery Scrollbar -->
	<script src="../../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<!-- Azzara JS -->
	<script src="../../assets/js/ready.min.js"></script>
	<!-- Azzara DEMO methods, don't include it in your project! -->
	<script src="../../assets/js/setting-demo.js"></script>
</body>
</html>