#addVillage{
    color: blueviolet;
    margin-left: 250px;
    }
.modal-body{
   width: 600px;
   height: 300px;
}
.contaniner{
   width: 100%;
   height: 100%;
  }
    	#histStart{
    		width:100px;
    		height: 20px;
    		margin: 0 auto;
    	}
    	.pnl,#pnlBody{
    		width: 100%;
    		height: 100%;
    	}
    	.modal-footer{
    		width: 100%;
    		height: 100px;
    	}
    	#tom-left{
    		width: 380px;
    		height: 300px;
    		float: left;
    	}
    	#show{
    		width: 100%;
    		height: 100%;
    		overflow-y:auto;
    		
    	}
    	.msg-left .msg-ball {
			margin:.5em 3.2em .5em 1.2em
		}
		.msg-left {
			overflow:hidden;
}
		.msg-left>.msg-host {
			left:.5em;
			top:.5em
		}
		.msg-left>.msg-ball {
			float:left;
		}
		.msg-left>.msg-ball:before {
			left:-.5em;
			border-color:transparent #f0f0f0 transparent transparent;
			border-width:.4em .6em .4em 0
		}
		.msg-left:before {
			content:attr(worker);
			display:block;
			color:#848484;
			margin-bottom:-.5em;
			margin-left:3.8em;
			padding-top:.5em
		}
		.msg-left>.msg-host {
			left:.5em;
			top:.7em;
			background-color:#6fbdf3;
		}
		.msg-left>.msg-host .ic {
			font-size:2.65em
		}
		.msg-host{
			margin-left: 20px;
			width: 30px;
			height: 30px;
			float: left;
			background-image: url(../images/timg.png);
		}
    	#text{
    		width: 100%;
    		height: 60px;
    		margin-top: 0;
    	}
    	#tom-right{
    		margin-left: 382px;
    		width: 220px;
    		height: 300px;
    		border-left: 1px solid black;  
    	}
    	#submit{
    		width: 44px;
    		height: 30px;
    		margin-left: 530px;
    	}
    	#send{
    		width: 45px;
    		height: 30px;
    	}
    	.pnl-input{
    		width: 100%;
    		height: 70px;
    	}
    	.msg-ball{
    		padding: 10px;
    		overflow: auto;
    		background-color: #6ba1a1;
    	}
    	#hots {
    		margin-top: 10px;	
    		width: 150px;
    		height: 100%;
    		overflow: auto;
    	}
    	.rel-item{
    		margin-left: 0px;
    		display: inline;
 
    		float: left;
    	}
    	.pnl-right-content{
    		width: 100%;
    		height: 100%;
    	}
    	#hot-tab{
    		margin-top: 10px;
    		margin-left: 50px;
    	}