<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="back/headers::head">
</head>
<body>
	<div class="wrapper">
		<!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
		<div th:replace="back/headers::.main-header"></div>
		<div th:replace="back/headers::.sidebar"></div>
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Forms</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Forms</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Basic Form</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
						<!--  -->
						<form action="add" method="post" id="add">
							<div class="card">
								<div class="card-header">
									<div class="card-title">商品添加</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="largeInput">商品名</label>
										<input type="text" name="cname" class="form-control form-control-lg"  placeholder="Large Input">
									</div>
									<div class="form-group">
										<label for="largeInput">商品进价</label>
										<input type="text"  name="cprice" class="form-control form-control" id="cprice" placeholder="Default Input">
									</div>
									<div class="form-group">
										<label for="largeInput">商品售价</label>
										<input type="text" name="mprice" class="form-control form-control" id="mprice" placeholder="Default Input">
									</div>
									<div class="form-group">
										<label for="smallInput">商品描述</label>
										<input type="text"  name="cdescride" class="form-control form-control-sm" id="cdescride" placeholder="Small Input">
									</div>
									<div class="form-group">
										<label for="smallInput">到货时间</label>
										<input type="text" name="c_btime" class="form-control form-control-sm" id="c_etime" placeholder="Small Input">
									</div>
									<div class="form-group">
										<label for="exampleFormControlFile1">选择图片</label>
										<input type="file" name="file" class="form-control-file" id="cphoto">
									</div>
									<div class="form-group">
										<label for="largeSelect">选择大类</label>
										<select class="form-control form-control-lg"  id="vname" name="vname">
										    <option></option>
											<option  th:each="var:${vari}" th:text="${var.vname}" th:value="${var.vname}">1</option>
										</select>
									</div>
									<div class="form-group">
										<label for="defaultSelect">选择小类</label>
										<select class="form-control form-control"  id="tname" name="tname">
											<option></option>
											<option th:each="tap:${type}" th:text="${tap.tname}" th:value="${tap.tname}">2</option>
										</select>
									</div>
									<div class="form-group">
										<label for="defaultSelect">是否热卖</label>
										<select class="form-control form-control" id="tname" name="hot">
											<option>0</option>
											<option>1</option>
											
										</select>
									</div>
									<!-- <div class="form-group">
										<label for="largeInput">商品尺码</label>
										<input type="text"  name="specs" class="form-control form-control" id="specs"  placeholder="Default Input">
									</div>
									<div class="form-group">
										<label for="largeInput">商品颜色</label>
										<input type="text"  name="color" class="form-control form-control" id="specs"  placeholder="Default Input">
									</div>
									<div class="form-group">
										<label for="largeInput">商品数量</label>
										<input type="text" name="num" class="form-control form-control" id="num" placeholder="Default Input">
									</div> -->
								</div>
								<div class="card-action"><!-- type="button" -->
									<button type="button" class="btn btn-success" id="submit0">Submit</button>
									<button class="btn btn-danger">Cancel</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
				<div class="title">Settings</div>
				<div class="custom-content">
					<div class="switcher">
						<div class="switch-block">
							<h4>Topbar</h4>
							<div class="btnSwitch">
								<button type="button" class="changeMainHeaderColor" data-color="blue"></button>
								<button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
								<button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
								<button type="button" class="changeMainHeaderColor" data-color="green"></button>
								<button type="button" class="changeMainHeaderColor" data-color="orange"></button>
								<button type="button" class="changeMainHeaderColor" data-color="red"></button>
							</div>
						</div>
						<div class="switch-block">
							<h4>Background</h4>
							<div class="btnSwitch">
								<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
								<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
								<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="custom-toggle">
					<i class="flaticon-settings"></i>
				</div>
			</div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="../../assets/js/core/popper.min.js"></script>
	<script src="../../assets/js/core/bootstrap.min.js"></script>
	<!-- jQuery UI -->
	<script src="../../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<!-- Bootstrap Toggle -->
	<script src="../../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<!-- jQuery Scrollbar -->
	<script src="../../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<!-- Azzara JS -->
	<script src="../../assets/js/ready.min.js"></script>
	<!-- Azzara DEMO methods, don't include it in your project! -->
	<script src="../../assets/js/setting-demo.js"></script>
	<script type="text/javascript">
	 /* function selecttype(){
		 onchange="selecttype()"
		 //alert(1);
		  var vname=$("#vname").val();
		 $.post("type",{vname:vname}); 
	 }
	 $(function(){
		 $.post("type",{vname:"智能手机"}); 
	 }); */
	
	  
	   $("#submit0").on('click',function (){
		   var formData=new FormData(add);
		   console.log(formData);
		   $.ajax({
				url:'add',
				type:'post',
				data:formData,
				contentType:false,
				processData:false,
				success:function(result){
					if(result.code==1){
						alert(result.msg);
						window.location.reload();
					}else{
						alert(result.msg);
					}
				}
			})
		   
		   
		  
	   })  
	</script>
</body>
</html>