<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header::head">
	<!-- <meta charset="UTF-8"> -->
</head>
<body>
	 <div th:replace="header::.header-most-top"></div>
	<div th:replace="header::.header-bot"></div>
	<div th:replace="header::.mfp-hide"></div>
	<div th:replace="header::#myModal1"></div>
	<div th:replace="header::#myModal2"></div>
	<div th:replace="header::.ban-top"></div>
	<div th:replace="header::.page-head_agile_info_w3l"></div> 
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index">首页</a>
						<i>|</i>
					</li>
					<li>结账</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">结账
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4>您的购物车如下:
					<!-- <span  id="procount"> 款产品</span> -->
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>编号</th>
								<th>商品</th>
								<th>数量</th>
								<th>商品名</th>
								<th>价格</th>
								<th>取消</th>
							</tr>
						</thead>
						<tbody>
							 <!-- <tr class="rem1" th:each="c,stat:${cart}" >
								<td class="invert" th:text="${stat.count}">1</td>
								<td class="invert-image">
									<a th:href="|single_${c.cid}">
										<img th:src="${c.commodity.cphoto}" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value">
												<span th:text="${c.count}" id="num">1</span>
											</div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td>
								
								<td class="invert" th:text="${c.commodity.cname}"></td>
								<td class="invert" id="cprice" th:text="|￥:${c.commodity.cprice}"></td>
								<td class="invert">
									<div class="rem">
										<div class="close1">
										</div>
									</div>
								</td>
								<td th:text="${c.cid}" style="visibility: hidden;"></td>
							</tr> -->
						</tbody>	
					</table>
					<h4 class="price">总价格:</h4>
				</div>
			</div>
			<div class="checkout-left">
				<div class="address_form_agile">
					<h4>收货地址</h4>
					<form action="payment" method="post" class="creditly-card-form agileinfo_form">
						<div class="creditly-wrapper wthree, w3_agileits_wrapper" th:each="a:${addr}">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="controls">
										<input   class="billing-address-name" name="aname" th:value="${a.aname}" type="text"  placeholder="收货名"  >
									</div>
									<div class="w3_agileits_card_number_grids">
										<div class="w3_agileits_card_number_grid_left">
											<div class="controls">
												<input   type="text" name="atel" th:value="${a.atel}" placeholder="联系电话"   >
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_right">
											<div class="controls">
												<input type="text"  name="addr" th:value="${a.addr}" placeholder="Landmark"  >
											</div>
										</div>
										<div class="clear"> </div>
									</div>
									<div class="controls">
										<input  type="text"  placeholder="城镇/乡村" name="temp" th:value="${a.atemp}" >
									</div>
									<div class="controls">
										<select class="option-w3ls">
											<option>选择地址类型</option>
											<option>公司</option>
											<option>家</option>
											<option>Commercial</option>

										</select>
									</div>
								</div>
								<button class="submit check_out">送货到这个地址</button>
							</div>
						</div>
					</form>
					
					<div class="checkout-right-basket">
						<a href="javascript:void(0)" class="pay">去支付
							<span class="fa fa-hand-o-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
	<!-- newsletter -->
	<div th:replace="foot::.footer-top"></div>
	<div th:replace="foot::foot"></div>
	<!-- js-files -->
	<!-- jquery -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- //jquery -->

	<!-- popup modal (for signin & signup)-->
	<script src="js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- Large modal -->
	<!-- <script>
		$('#').modal('show');
	</script> -->
	<!-- //popup modal (for signin & signup)-->

	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		paypalm.minicartk.render(); //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js

		paypalm.minicartk.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!--quantity-->
	
	<!--quantity-->
	<!-- 取消购物车 -->
	


	<!-- smoothscroll -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			//查看购物车数据
			showCart();
			function showCart(){
				$.get("docart",null,function(arr){
					if(2==arr.code){
						alert('请先登录');
						window.location.href='login';
					}else if(null==arr.data||arr.data.length==0){
						alert('购物车为空，请浏览商品');
						/* window.location.href="index"; */
					}else{
						showCartTable(arr);
						
					}
				});
			}
			//显示购物车
			function showCartTable(arr){
				$('.table-responsive table tbody').html('');
				var str='';
				var totalprice=0;
				var num=1;
				for(var i=0;i<arr.data.length;i++){
					str+='<tr class="rem1"><td class="invert">'+(num++)+'</td>'
						+'<td class="invert-image"><a href="single_'+arr.data[i].cid+'">'
						+'<img src="'+arr.data[i].commodity.cphoto+'" alt="" class="img-responsive"></a></td>'
						+'<td class="invert"><div class="quantity">'
						+'<div class="quantity-select">'
						+'<div class="entry value-minus">&nbsp;</div>'
						+'<div class="entry value"><span id="num">'+arr.data[i].count+'</span></div>'
						+'<div class="entry value-plus active">&nbsp;</div>'
						+'</div></div></td><td class="invert" >'+arr.data[i].commodity.cname+'</td>'
						+'<td class="invert" id="cprice">'+arr.data[i].commodity.cprice+'</td>'
						+'<td class="invert"><div class="rem">'
						+'<div class="close1"></div></div></td>'
						+'<td style="visibility: hidden;">'+arr.data[i].cid+'</td></tr>';
			}
				$('.table-responsive table tbody').html(str);
				//显示总价格
				$('.table-responsive table tbody tr').each(function(i){ //遍历tr                   
			    	   var num=$(this).find('td:eq(2)').text();
			    	   var price=$(this).find('td:eq(4)').text();
			   	  	   totalprice+=num*price;
			  		});
				var total="总价格:￥ ";
				$('.price').html(total+totalprice); 
						
				//取消购物车
				$('.close1').on('click', function () {
					if(confirm("确认取消该商品？")){
						 var id=$(this).closest("tr");
						 var cid=id.find('td:eq(6)').text();
						$.post("dodelet",{cid:cid},
								function(result){
									if(result.code==0){
										alert(result.msg);
									}else{
										alert(result.msg);
										/* window.location.reload(); */
										showCart();
										
									}
						});
					}
				});
				//数量添加
				$('.value-plus').on('click', function () {
					var divUpd = $(this).parent().find('.value'),
						newVal = parseInt(divUpd.text(), 10) + 1;
					divUpd.text(newVal);
					var totalprice=0;
					 $('.table-responsive table tbody tr').each(function(i){ //遍历tr                   
				    	   var num=$(this).find('td:eq(2)').text();
				    	   var price=$(this).find('td:eq(4)').text();
				    	   
				   	  	   totalprice+=num*price;
				   });
					 var total="总价格:￥ ";
						$('.price').html(total+totalprice); 
					
				});
				//数量减少
				$('.value-minus').on('click', function () {
					var divUpd = $(this).parent().find('.value'),
						newVal = parseInt(divUpd.text(), 10) - 1;
					if (newVal >= 1) divUpd.text(newVal);
					var totalprice=0;
					 $('.table-responsive table tbody tr').each(function(i){ //遍历tr                   
				    	   var num=$(this).find('td:eq(2)').text();
				    	   var price=$(this).find('td:eq(4)').text();
				   	  	   totalprice+=num*price;
				   });
					 var total="总价格:￥ ";
						$('.price').html(total+totalprice); 
				});
				
				
			} 

					//生成订单			 
						 $('.pay').click(function(){
							    var mk=1;
								var atel=$("input[name='atel'] ").val();
								var addr=$("input[name='addr'] ").val();
								var temp=$("input[name='temp'] ").val();
								if(confirm("确认去支付？")){
									var temps=(new Date()).valueOf();
									var num;
									var price;
									var name;
									var cid;
									var name;
									var newArr = [];
									 $('.table-responsive table tbody tr').each(function(i){ //遍历tr                   
								    	    num=parseInt($(this).find('td:eq(2)').text());
									 		name=$(this).find('td:eq(3)').text();
								    	    price=parseInt($(this).find('td:eq(4)').text());
								    	    cid=parseInt($(this).find('td:eq(6)').text());
								    	    var oprice=num*price;								    	   
								    	    var vote = {};
								    	    vote.num = num;
								            vote.totalprice = oprice;
								            vote.cid=cid;
								            newArr.push(vote);
								   });	
									 for(var i=0;i<=newArr.length;i++){
										 var vvp=(newArr.length);
										 $.post("doorder", {otel:atel,oaddr:addr,temp:temp,temp3:newArr[i].num,
								    		   oprice:newArr[i].totalprice,cid:newArr[i].cid,temps:temps},function(data){
								    			   mk=mk+1;
								    			   if(data.code==1){							    												    															    					
										    			window.location.href="pay?id="+data.msg;										    					
								    			   }else{
								    				   alert("服务繁忙，稍后再试！");
								    			   }
								    		   });	
										
									 }
									
								}
							});	 

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
		
	</script>
	
	<script type="text/javascript">
		
	
	</script>
	
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
</body>

</html>