<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="header::head">
	<!-- <meta charset="UTF-8"> -->
</head>
<body>
	 <div th:replace="header::.header-most-top"></div>
	<div th:replace="header::.header-bot"></div>
	<div th:replace="header::.mfp-hide"></div>
	<div th:replace="header::#myModal1"></div>
	<div th:replace="header::#myModal2"></div>
	<div th:replace="header::.ban-top"></div>
	<div th:replace="header::.page-head_agile_info_w3l"></div> 
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">首页</a>
						<i>|</i>
					</li>
					<li>评论</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">发表评论
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- <div class="col-md-5 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="images/si.jpg">
								<div class="thumb-image">
									<img th:src="${commodity.cphoto}" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-7 single-right-left simpleCart_shelfItem">
				<h3 th:text="${commodity.cname}"></h3>
				

			</div> -->
			<div id="comment_div">
				<input type="hidden" id="cid" th:value="${commodity.cid}">
				<img th:src="${commodity.cphoto}" id="comment_li_img">
				<h3 th:text="${commodity.cname}" id="comment_li_h3"></h3>
			</div>
			<div style="margin-top: 35px;margin-left: 320px;">
				<label>描述相符</label><input type="text" value="0" id="comment_slide1_input1"/><span style="color: red;font-weight: bold;">分</span>
				<input id="slide1" type="range" value="0">
			</div>
			<div style="margin-left: 620px; margin-top: -39px;">
				<label>服务态度</label><input type="text" value="0" id="comment_slide2_input2"/><span style="color: red;font-weight: bold;">分</span>
				<input id="slide2" type="range" value="0">
			</div>
			<div style="margin-top: 10px;">
				<textarea id="content" rows="5" cols="3" class="comment_input" placeholder="宝贝满足你的期待吗?说说你的使用心得，分享给想买的他们吧"></textarea>
				<!-- <input type="file"/> margin-top: 130px;margin-left: -505px;margin: 130px 0px 0px -505px;" onerror="this.style.display='none'-->
				<img id="getimg" src="">
    			<form id="ff" action="upload" method="post" enctype="multipart/form-data">
        			<input type="file" name="img" id="img" style="margin-left: 320px;width: 200px;margin-top: 5px;">
        			<input type="button" value="上传" onclick="doimg()" style="margin-left: 530px;margin-top: -27px;float: left;"/>
    			</form>
			</div>
			<button style="width: 65px; margin-left: -42px;margin-top: 50px;" onclick="publish()">
				<img alt="" src="images/fb.png">发表
			</button>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //Single Page -->
	<!-- special offers -->
	<!-- //special offers -->
	<div th:replace="foot::.footer-top"></div>
	<div th:replace="foot::foot"></div>

	<!-- js-files -->
	<!-- jquery -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
	//表单提交
	function submitForm(){
	    var form = document.getElementById("myform");
	    form.submit();
	    alert(1);
	}
	</script>
	<!-- //jquery -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
	 	function doimg(){
	 		var formData = new FormData(ff);
	 		$.ajax({
	 		    url:'upload',
	 		    type:'POST',
	 		    data: formData,
	 		    processData : false, // 使数据不做处理
	 		    contentType : false, // 不要设置Content-Type请求头
	 		    success: function(data){
	 		        if (data!=null) {
	 		        	alert("上传成功");
	 		        	$("#getimg").attr({src:data,height:"92px",width:"210px"});
	 		        	$("#getimg").css({"margin-top": "102px", "margin-left": "-505px" });
	 		        }else{
	 		        	alert("上传失败");
	 		        }

	 		    }
	 		});
	 	}
	 </script>
	 <script type="text/javascript">
	 	function publish(){
	 		var cid=$("#cid").val();
	 		var content=$("#content").val();
	 		var eimg=$("#getimg").attr("src");
	 		var mgrade=$("#comment_slide1_input1").val();
	 		var fgrade=$("#comment_slide2_input2").val();
	 		var egrade=parseInt(mgrade)+parseInt(fgrade);
	 		$.post("publish",{cid:cid,content:content,eimg:eimg,egrade:egrade},function(result){
				if(result==1){
					alert("发表成功");
					window.location.href = "/evaluate_"+cid;
					/* $("#content").attr("value","");
					$("#getimg").attr({src:"",height:"",width:""});
					$("#getimg").css({"margin-top": "", "margin-left": ""});
					$("#comment_slide1_input1").attr("value","0");
					$("#comment_slide2_input2").attr("value","0");
					$("#slide1").attr("value","0");
					$("#slide1").css("background-size", "0% 100%");
					$("#slide2").attr("value","0");
					$("#slide2").css("background-size", "0% 100%"); */
					
				}else{
					alert("发表失败");
				}	
			})
	 	}
	 </script>
	<!-- popup modal (for signin & signup)-->
	<script src="js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- Large modal -->
	<!-- <script>
		$('#').modal('show');
	</script> -->
	<!-- //popup modal (for signin & signup)-->

	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		paypalm.minicartk.render(); //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js

		paypalm.minicartk.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- smoothscroll -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- imagezoom -->
	<script src="js/imagezoom.js"></script>
	<!-- //imagezoom -->

	<!-- FlexSlider -->
	<script src="js/jquery.flexslider.js"></script>
	<!-- <script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script> -->
	<!-- //FlexSlider-->

	<!-- flexisel (for special offers) -->
	<script src="js/jquery.flexisel.js"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel (for special offers) -->

	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
	 <script type="text/javascript"src="js/RangeSlider.js"></script>
	 <script type="text/javascript">
		 var change = function($input) {
	         /*内容可自行定义*/
	         $("#comment_slide1_input1").attr("value",$input.value);
	     }
		 $("#slide1").RangeSlider({ min: 0,   max: 5,  step: 1,  callback: change});
		 
	 </script>
	 <script type="text/javascript">
		 var change = function($input) {
	         /*内容可自行定义*/
	         $("#comment_slide2_input2").attr("value",$input.value);
	     }
		 $("#slide2").RangeSlider({ min: 0,   max: 5,  step: 1,  callback: change});
		 
	 </script>
	 
</body>

</html>