<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="header::head">
	<!-- <meta charset="UTF-8"> -->
</head>
<body>
	<div th:replace="header::.header-most-top"></div>
	<div th:replace="header::.header-bot"></div>
	<div th:replace="header::.mfp-hide"></div>
	<div th:replace="header::#myModal1"></div>
	<div th:replace="header::#myModal2"></div>
	<div th:replace="header::.ban-top"></div>

	<!-- //navigation -->
	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >自助建站</a></div>
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators-->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>Big
							<span>Save</span>
						</h3>
						<p>Get flat
							<span>10%</span> Cashback</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>Healthy
							<span>Saving</span>
						</h3>
						<p>Get Upto
							<span>30%</span> Off</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>Big
							<span>Deal</span>
						</h3>
						<p>Get Best Offer Upto
							<span>20%</span>
						</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3>Today
							<span>Discount</span>
						</h3>
						<p>Get Now
							<span>40%</span> Discount</p>
						<a class="button2" href="product.html">Shop Now </a>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!-- //banner -->

	<!-- top Products -->
	<div class="ads-grid">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Our Top Products
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- product left -->
			<div class="side-bar col-md-3">
				<div class="search-hotel">
					<h3 class="agileits-sear-head">在这里搜索...</h3>
					<form action="#" method="post">
						<input type="search" placeholder="请输入商品名字..." name="search" required="">
							<input type="button"  onclick="find()" value=" ">
					</form>
				</div>
				<!-- price range -->
				<div class="range">
					<h3 class="agileits-sear-head">价格范围</h3>
					<ul class="dropdown-menu6">
						<li>
							<div id="slider-range"></div>
							<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
						</li>
					</ul>
				</div>
				<!-- //price range -->
				<!-- food preference -->
				<div class="left-side">
						<h3 class="agileits-sear-head">优惠区</h3>
					<ul>
						<li>
							<input type="checkbox" name="new" class="checked" value="new">
							<span class="span">新品推介</span>
						</li>
						<li>
							<input type="checkbox" name="hot" class="checked" value="1">
							<span class="span">热卖商品</span>
						</li>
					</ul>
				</div>
				<!-- //food preference -->
				<!-- discounts -->
				<div class="left-side">
					<h3 class="agileits-sear-head">折扣</h3>
					<ul>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">5% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">10% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">20% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">30% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">50% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">60% or More</span>
						</li>
					</ul>
				</div>
				<!-- //discounts -->
				<!-- reviews -->
				<div class="customer-rev left-side">
					<h3 class="agileits-sear-head">客户评价</h3>
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<span>5.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>4.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>3.5</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>3.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>2.5</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- //reviews -->

				<!-- deals -->
				<div class="deal-leftmk left-side">
					<h3 class="agileits-sear-head">特别优惠</h3>
					<div class="special-sec1" th:each="ce6:${ce6}">
						<div class="col-xs-4 img-deals">
							<img th:src="${ce6.cphoto}" alt="" style="width: 50px;height: 50px;">
						</div>
						<div class="col-xs-8 img-deal1">
							<h3 th:text="${ce6.cname}">Cadbury Dairy Milk</h3>
							<a th:href="|single_${ce6.cid}" th:text="${ce6.cprice}">$149.00</a>
						</div>
						<div class="clearfix"></div> 
					</div>
				</div>
				<!-- //deals -->
			</div>
			<!-- //product left -->
			<!-- product right -->
			<div class="agileinfo-ads-display col-md-9">
				<div class="wrapper" >
					<!-- first section (nuts) -->
					<div class="product-sec1">
						<h3 class="heading-tittle" >休闲食品</h3>
						<!-- th:text="${nuts.type.variety.vname}" -->
						<div class="col-md-4 product-men" th:each="nut:${nuts}">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img th:src="${nut.cphoto}" alt="" id="imagess">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="|single_${nut.cid}" class="link-product-add-cart">快速访问</a>
										</div>
									</div>
									<span class="product-new-top" th:text="${nut.type.variety.vname}"></span>
								</div>
								<div class="item-info-product ">
									<h4>

										<a th:href="|single_${nut.type.tid}" th:text="${nut.type.variety.vname}">Almonds, 100g</a>

										<a th:href="|single_${nut.cid}" th:text="${nut.cname}"></a>

									</h4>
									<div class="info-product-price">
										<span class="item_price" th:text="|￥:${nut.cprice}"></span>
										<del th:text="|￥:${nut.mprice}">$280.00</del>
									</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form action="" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Almonds, 100g" />
												<input type="hidden" name="amount" value="149.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<!-- <input type="submit" name="submit" value="添加购物车" class="button" /> -->
												<span class="button" style="color: orange;font-weight: bold;font-size: 18px;" th:text="|浏览量：${nut.temp==null?0:nut.temp}">12</span>
											</fieldset>
										</form>
									</div>

								</div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
					<!-- //first section (nuts) -->
					<!-- second section (nuts special) -->
					<div class="product-sec1 product-sec2">
						<div class="col-xs-7 effect-bg">
							<h3 class="">Pure Energy</h3>
							<h6>Enjoy our all healthy Products</h6>
							<p>Get Extra 10% Off</p>
						</div>
						<h3 class="w3l-nut-middle">Nuts & Dry Fruits</h3>
						<div class="col-xs-5 bg-right-nut">
							<img src="images/nut1.png" alt="">
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //second section (nuts special) -->
					<!-- third section (oils) -->
					<div class="product-sec1">
						<h3 class="heading-tittle">潮流女装</h3>
						<div class="col-md-4 product-men" th:each="wo:${women}">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img th:src="${wo.cphoto}" alt="" id="imagess">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="|single_${wo.cid}" class="link-product-add-cart">快速访问</a>
										</div>
									</div>
									<span class="product-new-top" th:text="${wo.type.variety.vname}"></span>
								</div>
								<div class="item-info-product ">
									<h4>

										<a th:href="|single_${wo.type.tid}" th:text="${wo.type.variety.vname}">Almonds, 100g</a>

										<a th:href="|single_${wo.cid}" th:text="${wo.cname}"></a>

									</h4>
									<div class="info-product-price">
										<span class="item_price" th:text="|￥:${wo.cprice}"></span>
										<del th:text="|￥:${wo.mprice}">$280.00</del>
									</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form action="" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Almonds, 100g" />
												<input type="hidden" name="amount" value="149.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<!-- <input type="submit" name="submit" value="添加购物车" class="button" /> -->
												<span class="button" style="color: orange;font-weight: bold;font-size: 18px;" th:text="|浏览量：${wo.temp==null?0:wo.temp}">12</span>
											</fieldset>
										</form>
									</div>

								</div>
							</div>
						</div>
							
						<div class="clearfix"></div>
					</div>
					<!-- //third section (oils) -->
					<!-- fourth section (noodles) -->
					<div class="product-sec1">
						<h3 class="heading-tittle">潮流男装</h3>	
						<div class="col-md-4 product-men" th:each="ce:${ce3}">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img th:src="${ce.cphoto}" alt="" id="imagess">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="|single_${ce.cid}" class="link-product-add-cart">快速访问</a>
										</div>
									</div>
									<span class="product-new-top" th:text="${ce.type.variety.vname}"></span>
								</div>
								<div class="item-info-product ">
									<h4>

										<a th:href="|single_${ce.type.tid}" th:text="${ce.type.variety.vname}">Almonds, 100g</a>

										<a th:href="|single_${ce.cid}" th:text="${ce.cname}"></a>

									</h4>
									<div class="info-product-price">
										<span class="item_price" th:text="|￥:${ce.cprice}"></span>
										<del th:text="|￥:${ce.mprice}">$280.00</del>
									</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form action="" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Almonds, 100g" />
												<input type="hidden" name="amount" value="149.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<!-- <input type="submit" name="submit" value="添加购物车" class="button" /> -->
												<span class="button" style="color: orange;font-weight: bold;font-size: 18px;" th:text="|浏览量：${ce.temp==null?0:ce.temp}">12</span>
											</fieldset>
										</form>
									</div>

								</div>
							</div>
						</div>	
					
						<div class="clearfix"></div>
					</div>
					<!-- //third section (oils) -->
					<!-- fourth section (noodles) -->
					<div class="product-sec1">
						<h3 class="heading-tittle">教育图书</h3>	
						<div class="col-md-4 product-men" th:each="ce4:${ce4}">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img th:src="${ce4.cphoto}" alt="" id="imagess">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="|single_${ce4.cid}" class="link-product-add-cart">快速访问</a>
										</div>
									</div>
									<span class="product-new-top" th:text="${ce4.type.variety.vname}"></span>
								</div>
								<div class="item-info-product ">
									<h4>

										<a th:href="|single_${ce4.type.tid}" th:text="${ce4.type.variety.vname}">Almonds, 100g</a>

										<a th:href="|single_${ce4.cid}" th:text="${ce4.cname}"></a>

									</h4>
									<div class="info-product-price">
										<span class="item_price" th:text="|￥:${ce4.cprice}"></span>
										<del th:text="|￥:${ce4.mprice}">$280.00</del>
									</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form action="" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Almonds, 100g" />
												<input type="hidden" name="amount" value="149.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<!-- <input type="submit" name="submit" value="添加购物车" class="button" /> -->
												<span class="button" style="color: orange;font-weight: bold;font-size: 18px;" th:text="|浏览量：${ce4.temp==null?0:ce4.temp}">12</span>
											</fieldset>
										</form>
									</div>

								</div>
							</div>
						</div>	
					
						<div class="clearfix"></div>
					</div>
					<!-- //fourth section (noodles) -->
				</div>
			</div>
			<!-- //product right -->
		</div>
	</div>
	<!-- //top products -->
	<!-- special offers -->
	<div class="featured-section" id="projects">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">特别优惠
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="content-bottom-in">
				<ul id="flexiselDemo1" >
					<li th:each="ce5:${ce5}">
						<div class="w3l-specilamk">
							<div class="speioffer-agile">
								<a th:href="|single_${ce5.cid}">
									<img th:src="${ce5.cphoto}" alt="" style="width: 120px;height: 120px;">
								</a>
							</div>
							<div class="product-name-w3l">
								<h4>
									<a th:href="|single_${ce5.cid}" th:text="${ce5.cname}">Aashirvaad, 5g</a>
								</h4>
								<div class="w3l-pricehkj">
									<h6 th:text="|￥${ce5.cprice}">$220.00</h6>
									<p th:text="|Save ￥${ce5.mprice}">Save $40.00</p>
								</div>
								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
									<form action="#" method="post">
										<fieldset>
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="business" value=" " />
											<input type="hidden" name="item_name" value="Aashirvaad, 5g" />
											<input type="hidden" name="amount" value="220.00" />
											<input type="hidden" name="discount_amount" value="1.00" />
											<input type="hidden" name="currency_code" value="USD" />
											<input type="hidden" name="return" value=" " />
											<input type="hidden" name="cancel_return" value=" " />
											<input type="submit" name="submit" value="添加到购车" class="button" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</li>
					
						
				</ul>
			</div>
		</div>
	</div>
	<!-- //special offers -->
	<!-- newsletter -->
	<div th:replace="foot::.favorite"></div> 
	<div th:replace="foot::.addr"></div> 
	<div th:replace="foot::.Myaddr"></div> 
	 <div th:replace="foot::.user-select"></div> 
	<div th:replace="foot::.footer-top"></div>
	<div th:replace="foot::foot"></div>
	
	<!-- js-files -->
	<!-- jquery -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- //jquery -->

	<!-- popup modal (for signin & signup)-->
	<script src="js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- Large modal -->
	<!-- <script>
		$('#').modal('show');
	</script> -->
	<!-- //popup modal (for signin & signup)-->
	
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

		paypalm.minicartk.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->
	
	<script type="text/javascript">
		$('#agileinfo-nav_search').change(function(){
			 var option = $(this).val(); 
			 window.location.href=option;
			 
		});
	
	</script>

	<!-- price range (top products) -->
	<script src="js/jquery-ui.js"></script>
	<script>
		var bprice=0;
		var eprice=0;
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					 $("#amount").val("￥" + ui.values[0] + " - ￥" + ui.values[1]);
					bprice=ui.values[0];
					eprice=ui.values[1];				
				}		
			});
			 $("#amount").val("￥" + $("#slider-range").slider("values", 0) + " - ￥" + $("#slider-range").slider("values", 1));
			 
		}); 
		function find(){
			var search=$("input[name='search']").val();
			var newpro= $("input[name='new']:checked").val();
			var hot= $("input[name='hot']:checked").val();
			$.post("dofind",{newpro:newpro,hot:hot,search:search,bprice:bprice,eprice,eprice},
					function(date){
				console.log(date);
						 $('.wrapper').html(date);
			});
		}
	</script>
	<!-- //price range (top products) -->

	<!-- flexisel (for special offers) -->
	<script src="js/jquery.flexisel.js"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel (for special offers) -->	

	<!-- smoothscroll -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
	
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<script type="text/javascript">
		$('#outlogin').click(function(){
			$.post('outlogin',null,function(data){
				if(data==1){
					 window.location.href='login';
				}
			});
		});
	</script>
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->

	<!--  <script src="js/bootstrap.js"></script>  -->
	<script>
	function insert_village_info(){
		$("#addCost").modal('show');	//启动模态窗口
	} 
</script>
<script>
	function addr(){
		$("#addr").modal('show');	//启动模态窗口
	} 
	function myaddr(){
		$("#Myaddr").modal('show');
	}
	function Add(){
		$("#Myaddr").modal('hide');
		$("#addr").modal('show');	
	}
	function favorite(){
		$(".favorite").modal('show');
	}
</script>
<script type="text/javascript">
$("#city").click(function (e) {
	SelCity(this,e);
});
$("s").click(function (e) {
	SelCity(document.getElementById("city"),e);
});
</script>
<script type="text/javascript">

	function postData(id){
		$.get("dele.do",{cid:id},function(result){	
			 if(result.code==1){
				 alert(result.msg);
				window.location.reload();
			}else{
				alert(result.msg);
			} 
		});
	}
</script>

<script type="text/javascript">
	function pp(){
		var addr=$('#city').val();
		var atel=$('#atel').val();
		var aname=$('#aname').val();
		var astatus=$("input:radio[name='astatus']:checked").val();
		
		$.post("bh.do",{addr:addr,atel:atel,aname:aname,astatus:astatus},function (result){
			if(result.code==1){
				alert(result.msg);
				window.location.href="index";
			}else{
				alert(result.msg);
			}
		});
	}
</script>
<script type="text/javascript">
	/* $("#ad").click(function(){
		alert(1);
	});
 */
</script>

<script src="enjoyhint/enjoyhint.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript">
	$("#help").click(function(){
		var enjoyhint_instance = new EnjoyHint({});
		var enjoyhint_script_steps = [
		  {
		  	'next .logo_agile' : '欢迎来到筐筐商场！让我来引导你了解它的特点。',
		  	'nextButton' : {className: "myNext", text: "可以"},
		  	'skipButton' : {className: "mySkip", text: "不了!"}
		  },
		  {
		  	'key .agileits_search' : "请输入关键词搜索，并按“Enter”进去下一步",
		  	'keyCode' : 13
		  },
		  {
		  	'click #kkl' : '点击设置你的个人信息'
		  },
		  {
		  	'next #chec' : '这里是你的购物车',
		  	'shape': 'circle'
		  },
		  {
		  	'next .agileits-navi_search' : '这是商品分类，你可以找到喜欢的商品。',
		  	'shape': 'circle',
		  	'radius': 90,
		  	'showSkip' : false,
		  	'nextButton' : {className: "myNext", text: "知道了!"}
		  }
		
		];
		
			enjoyhint_instance.set(enjoyhint_script_steps);
			enjoyhint_instance.run();	
	});

	
	
</script>

<script type="text/javascript">
   
    	
    	var account =$("input[name='account']").val();
    	var admin =$("input[name='admin']").val();
		//创建webcocket 对象
		var websocket;
		websocket=new WebSocket("ws://localhost/websocket/"+account);
		//连接发生错误的回调方法
		websocket.onerror=function(event){
			console.info("-------onerror------");
		}
		//连接成功建立的回调方法
		websocket.onopen=function(event){
			
			console.info("-------onopen------"+event);
		}
		//接收到消息的回调方法
		websocket.onmessage=function(event){
			 var str=event.data.split(":");
			show.innerHTML+='<div class="msg-left" worker="在线客服">'
	           +'<div class="msg-host photo"  style="width:30px;height:30px;background-size: cover;background-image:url(images/timg.jpg)"></div>'
	            +'<div class="msg-ball" title="今天 17:52:06">'+str[1]+'</div></div>';
			/* console.info("-------onmessage------"+msg); */
		}
		//连接关闭的回调方法
		 websocket.onclose=function(event){
			console.info("-------onclose------");
		} 
		
		//关闭连接
		function closeWebSocket(){
			websocket.close();
		} 
		//发送消息
		function send(){
			var msg=$('#text').val();
			websocket.send(account+":"+admin+":"+msg);
			
			show.innerHTML+='<div class="msg-left" worker='+account+'>'
           +'<div class="msg-host photo" style="width:30px;height:30px;background-image:url(images/chat.jpg);background-size: cover;"></div>'
            +'<div class="msg-ball" title="今天 17:52:06">'+msg+'</div></div>';
			$('#text').val("");
		}
		
	
</script>
</body>

</html>