<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="../back/headers::head">
</head>
<body>
	<div class="wrapper">
		<!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
		<div th:replace="../back/headers::.main-header"></div>
		<div th:replace="../back/headers::.sidebar"></div>
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<h4 class="page-title">jQuery Sparkline</h4>
					<div class="page-category pr-md-5">This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML, or via javascript. Please checkout their <a href="https://omnipotent.net/jquery.sparkline/#s-docs" target="_blank">full documentation</a>.</div>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Line Chart</div>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-center p-3">
										<div id="lineChart"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Bar Chart</div>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-center p-3">
										<div id="barChart"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Tristate Chart</div>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-center p-3">
										<div id="sparktristateChart"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Discrete Chart</div>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-center p-3">
										<div id="discreteChart"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Pie Chart</div>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-center p-3">
										<div id="pieChart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
			<div class="title">Settings</div>
			<div class="custom-content">
				<div class="switcher">
					<div class="switch-block">
						<h4>Topbar</h4>
						<div class="btnSwitch">
							
							<button type="button" class="changeMainHeaderColor" data-color="blue"></button>
							<button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
							<button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
							<button type="button" class="changeMainHeaderColor" data-color="green"></button>
							<button type="button" class="changeMainHeaderColor" data-color="orange"></button>
							<button type="button" class="changeMainHeaderColor" data-color="red"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Background</h4>
						<div class="btnSwitch">
							<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
							<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
							<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-toggle">
				<i class="flaticon-settings"></i>
			</div>
		</div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="../../assets/js/core/popper.min.js"></script>
	<script src="../../assets/js/core/bootstrap.min.js"></script>
	<!-- jQuery UI -->
	<script src="../../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<!-- Sparkline -->
	<script src="../../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
	<!-- Bootstrap Toggle -->
	<script src="../../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<!-- jQuery Scrollbar -->
	<script src="../../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<!-- Azzara JS -->
	<script src="../../assets/js/ready.min.js"></script>
	<!-- Azzara DEMO methods, don't include it in your project! -->
	<script src="../../assets/js/setting-demo.js"></script>
	<script>
		$('#lineChart').sparkline([102,109,120,99,110,80,87,74,102,109,120,99,110,80,87,74], {
			type: 'line',
			height: '100',
			width: '250',
			lineWidth: '2',
			lineColor: '#177dff',
			fillColor: 'rgba(23, 125, 255, 0.2)'
		});

		$('#barChart').sparkline([102,109,120,99,110,80,87,74,102,109,120,99,110,80,87,74], {
			type: 'bar',
			height: '100',
			barWidth: 9,
			barSpacing: 10,
			barColor: '#177dff'
		});

		$('#sparktristateChart').sparkline([1,1,0,1,-1,-1,1,-1,0,0,1,1], {
			type: 'tristate',
			posBarColor: '#35cd3a',
			negBarColor: '#f3545d',
			height: '100',
			barWidth: 9,
			barSpacing: 10,
		});

		$('#discreteChart').sparkline([4,6,7,7,4,3,2,1,4,4,5,6,7,6,6,2,4,5], {
			type: 'discrete',
			lineColor: '#177dff', 
			thresholdColor: '#f3545d', 
			thresholdValue: 4,
			height: '100',
			width: '150',
		});

		$('#pieChart').sparkline([20,50,30], {
			type: 'pie',
			height: '100',
		});
	</script>

</body>
</html>